.b-animate {
  transition: 0.5s all;
  animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	-moz-animation: bounce 3s infinite;
	-o-animation: bounce 3s infinite;
}

.b-animate-2 {
  transition: 0.5s all;
  animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	-moz-animation: bounce 4s infinite;
	-o-animation: bounce 4s infinite;
}

.b-animate-3 {
  transition: 0.5s all;
  animation: bounce 5s infinite;
	-webkit-animation: bounce 5s infinite;
	-moz-animation: bounce 5s infinite;
	-o-animation: bounce 5s infinite;
}

@-webkit-keyframes bounce {
	0%{-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-20px);}
	100% {-webkit-transform: translateY(0px);}
}
 
/* @-moz-keyframes bounce {
	0%{-moz-transform: translateY(0);}
	100% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%{-o-transform: translateY(0);}
	100% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%{transform: translateY(0);}
	100% {transform: translateY(-15px);}
} */